$header_image : '../img/m-h-day.jpg';
$main-font-color: rgb(43,43,60);
$body-bg : white;
$btn-color: #66a113;
$main-font-style: 'Source Sans Pro', sans-serif;
$secondary-font-style: 'Hind', sans-serif;
$card-bg: #21232e;
$card-font-color: white;
$section-banner-bg: linear-gradient(90deg, #64940f, #2e5cd2);
$selection-color: rgb(34, 174, 216);