$header_image : '../img/m-h-night.jpg';
$main-font-color: #fff;
$body-bg : #21232e;
$btn-color: #e3ac00;
$main-font-style: 'Source Sans Pro', sans-serif;
$secondary-font-style: 'Fresca', sans-serif;
$card-bg: #3b3f50;
$card-font-color: white;
$section-banner-bg: linear-gradient(90deg, #e3ac00, #922c53);
$selection-color: #ff4e33;